.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: auto; /* Elimina la altura mínima para que se ajuste al contenido */
  padding: 2rem;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.App-hr {
  color: rebeccapurple;
}

